<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/app-route/app-location.html">

<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">

<link rel="import" href="../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/paper-styles/paper-styles.html">
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">

<link rel="import" href="../bower_components/polymer/polymer.html">


<dom-module id="root-layout">
  <template>

    <!--================== <Router> ================-->

    <app-location route="{{route}}"></app-location>

    <app-route route="{{route}}"
               pattern="/:view"
               tail="{{routeTail}}"
               data="{{routeData}}"
               active="{{active}}">
    </app-route>
    <paper-header-panel class="fit">
      <paper-toolbar>
        <h1 title>
          Grow-IoT
        </h1>
      </paper-toolbar>
      <div main class="layout vertical fit center center-justified">
        <h1>
        Under development...
        </h1>
      </div>
    </paper-header-panel>
    <!-- <iron-pages selected="[[routeData.view]]" -->
    <!-- attr-for-selected="name" -->
    <!-- fallback-selection="404">  -->
    <!-- <landing-page route="{{routeTail}}" name=""> -->
    <!-- </landing-page> -->
    <!-- <grow-dashboard route="{{routeTail}}" name="dashboard"> -->
    <!-- </grow-dashboard> -->
    <!-- <accounts-element route="{{routeTail}}" name="account"> -->
    <!-- </accounts-element> -->
    <!-- <not-found name="404"> -->
    <!-- </not-found> -->
    <!-- </iron-pages> -->
  </template>

  <script src="root-layout.js"></script>

</dom-module>
